<form ng-controller="J48Ctrl">
    <button ng-click="minerJ48()">Hora de minerar!</button>
    <div class="jumbotron text-center">
        <div>
            {{mensagem}}
        </div>
    </div>
    <script type="text/ng-template" id="nodes_renderer.html">
        <div ui-tree-handle class="tree-node tree-node-content">
            <p ng-if="node.label != ''">
                <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>{{node.label}}</p>
            <p ng-show="node.text">
                <div ui-tree-handle class="tree-node tree-node-content">
                    {{node.text}}
                </div>
            </p>
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
            <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>
    <div ui-tree id="tree" class="angular-ui-tree">
        <ol ui-tree-nodes ng-model="data" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes">
            <li ng-repeat="node in data" ui-tree-node="" ng-include="'nodes_renderer.html'" class="angular-ui-tree-node" collapsed="false"
                expand-on-hover="false">
                <div ui-tree-handle="" class="tree-node tree-node-content angular-ui-tree-handle">
                    <a class="btn btn-success btn-xs" ng-if="node.nodes &amp;&amp; node.nodes.length > 0" data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-down" ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
                </div>
                <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes">
                    <li ng-repeat="node in node.nodes" ui-tree-node="" ng-include="'nodes_renderer.html'" class="angular-ui-tree-node" collapsed="false"
                        expand-on-hover="false">
                        <div ui-tree-handle="" class="tree-node tree-node-content angular-ui-tree-handle">
                            <a class="btn btn-success btn-xs" ng-if="node.nodes &amp;&amp; node.nodes.length > 0" data-nodrag="" ng-click="toggle(this)"><span class="glyphicon glyphicon-chevron-down" ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
                        </div>
                        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes">
                            <li ng-repeat="node in node.nodes" ui-tree-node="" ng-include="'nodes_renderer.html'" class="angular-ui-tree-node" collapsed="false"
                                expand-on-hover="false">
                                <div ui-tree-handle="" class="tree-node tree-node-content angular-ui-tree-handle">
                                </div>
                                <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes">
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li ng-repeat="node in node.nodes" ui-tree-node="" ng-include="'nodes_renderer.html'" class="angular-ui-tree-node" collapsed="false"
                        expand-on-hover="false">
                        <div ui-tree-handle="" class="tree-node tree-node-content angular-ui-tree-handle">
                        </div>
                        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}" class="ng-pristine ng-untouched ng-valid angular-ui-tree-nodes">
                        </ol>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</form>